@using Models;
@model ClientFormViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/stylesheet/signup.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="HomePage.html">
                <img src="~/images/logo.png" alt="Restaurant Logo">
            </a>
        </div>
        <nav class="nav">
            <ul class="navigation">
                <li class="item"><a href="http://localhost:5290/Guest/HomePage/">H O M E</a></li>
                <li class="item"><a href="http://localhost:5290/Guest/Menu/">M E N U</a></li>
                <li class="item"><a href="">T A B L E &#160 R E S E R V A T I O N</a></li>
                @* בדיקה האם המשתמש מחובר *@
                @if (Context.Session.GetString("clientId") == null)
                {
                    @* יוצג רק אם המשתמש לא מחובר *@
                    <li class="item"><a href="http://localhost:5290/Guest/ViewLogin/">L O G I N</a></li>
                    <li class="item"><a href="http://localhost:5290/Guest/ViewRegistration/">S I G N U P</a></li>
                }
                else
                {
                    @* יוצג רק אם המשתמש מחובר *@
                    <li class="item">
                        <span class="username">
                            <img src="~/images/profile.png" />
                            <span>@Context.Session.GetString("clientName") ▼</span>
                        </span>
                        <div class="dropdown">
                            <a href="http://localhost:5290/guest/ViewRegistration/">Update Profile</a>
                            <a href="/Guest/Logout">Logout</a>
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <div class="page-container">
        <form aspcontroller="Guest" asp-action="Registration" class="Signup" method="post">
            <h1 class="Title">@(Model.Client?.ClientId == "" ? "SignUp" : "Update Your Profile")</h1>
            <ul class="fields">
                <li class="field">
                    <div class="input-wrapper">
                        @if (Model.Client.ClientId == "")
                        {
                            <input asp-for="Client.ClientId" id="id" type="text" placeholder="ID" required />
                        }
                        else
                        {
                            <input asp-for="Client.ClientId" id="id" type="text" placeholder="ID" disabled />
                        }
                        <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "id.png" : "edit.png")" />
                    </div>
                    <span asp-validation-for="Client.ClientId" class="errorData" id="ClientError"></span>
                </li>
                <li class="double-field">
                    <div class="field">
                        <div class="input-wrapper">
                            <input asp-for="Client.ClientName" id="firstname" type="text" placeholder="First Name" required />
                            <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "profile.png" : "edit.png")" />
                        </div>
                        <span asp-validation-for="Client.ClientName" class="errorData" id="ClientError"></span>
                    </div>

                    <div class="field">
                        <div class="input-wrapper">
                            <input asp-for="Client.ClientLastName" id="lastname" type="text" placeholder="Last Name" required />
                            <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "profile.png" : "edit.png")" />
                        </div>
                        <span asp-validation-for="Client.ClientLastName" class="errorData" id="ClientError"></span>
                    </div>
                </li>
                <li class="field">
                    <div class="input-wrapper">
                        <input asp-for="Client.ClientPhoneNumber" id="phonenumber" type="text" placeholder="Phone Number" required />
                        <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "phone.png" : "edit.png")" />
                    </div>
                    <span asp-validation-for="Client.ClientPhoneNumber" class="errorData" id="ClientError"></span>
                </li>
                <li class="field">
                    <select asp-for="Client.CityId" id="city" required>
                        <option value="0">Select City</option>
                        @foreach (City city in Model.Cities)
                        {
                            <option value="@city.CityId">@city.CityName</option>
                        }
                    </select>
                    <span asp-validation-for="Client.CityId" class="errorData" id="ClientError"></span>
                </li>
                <li class="field">
                    <div class="input-wrapper">
                        <input asp-for="Client.ClientAddress" id="Address" type="text" placeholder="Address" required />
                        <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "address.png" : "edit.png")" />
                    </div>
                    <span asp-validation-for="Client.ClientAddress" class="errorData" id="ClientError"></span>
                </li>
                <li class="field">
                    <div class="input-wrapper">
                        <input asp-for="Client.ClientEmail" id="email" type="text" placeholder="Email" required />
                        <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "email.png" : "edit.png")" />
                    </div>
                    <span asp-validation-for="Client.ClientEmail" class="errorData" id="ClientError"></span>
                </li>
                <li class="field">
                    <div class="input-wrapper">
                        <input asp-for="Client.Password" id="password" type="password" placeholder="Password" required />
                        <img class="icon" src="~/images/@(Model.Client.ClientId == "" ? "lock.png" : "edit.png")" />
                    </div>
                    <span asp-validation-for="Client.Password" class="errorData" id="ClientError"></span>
                </li>
            </ul>
            <button class="buttonReset" type="reset">Reset</button>
            <button class="buttonSignUp" type="submit">@(Model.Client.ClientId == "" ? "Sign Up" : "Save Changes")</button>
            @if (Model.Client.ClientId == "")
            {
                <div class="Login-link">
                    <p>Already have an account? <a href="http://localhost:5290/Guest/ViewLogin/">Login</a></p>
                </div>
            }
        </form>
    </div>
    <footer class="footer">
        <p class="rights">All Rights Reserved</p>
    </footer>
</body>
</html>

