@using Models;

@model MenuViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/menu.css" rel="stylesheet" />
<script>
    function GoLink()
    {
        document.forms[0].submit();
    }
</script>
<div class="MenuWrapper">
    <div class="page-layout">
        <aside class="filters">
            <section class="search-section">
                <input type="text" placeholder="Search" class="search-bar">
            </section>
            <form action="http://localhost:5290/Guest/Menu/" method="get">
                <h3>Food Type</h3>
                <select name="foodTypeId" id="foodType" onchange="GoLink()">
                   
                    <option value="-1">All Food Type</option>
                    @foreach(FoodType foodType in Model.FoodTypes)
                    {
                        if(foodType.FoodTypeId == int.Parse(Model.FoodTypeId))
                        {
                            <option value="@foodType.FoodTypeId" selected>@foodType.FoodTypeName</option>
                        }
                        else{
                            <option value="@foodType.FoodTypeId" >@foodType.FoodTypeName</option>
                        }
                       

                    }
                </select>
            </form>
            <h3>Price</h3>
            <div class="price-sort">
                <label><input type="radio" name="price" value="lowToHigh">Low to High</label><br>
                <label><input type="radio" name="price" value="highToLow">High to Low</label>
            </div>
        </aside>
        <!-- Menu items grid -->
        <section class="menu-items">
            @foreach (Meal meal in Model.Meals)
            {
                <div class="item">
                    <a href="http://localhost:5290/Guest/MealDetails/?id=@meal.MealId">
                        <img src="http://localhost:5035/DataImages/@meal.MealPhoto">
                        <p>@meal.MealName</p>
                        <p>$@meal.MealPrice</p>
                    </a>
                </div>
            }
        </section>
    </div>
    <section class="pagination">
        <a href="">Prev</a>
        <a href="" class="active">1</a>
        @for(int i = 1; i <= Model.Pages; i++)
        {
            <a href="">i</a>
        }
        <a href="">Next</a>

    </section>
</div>


