@using Models;

@model MenuViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/menu.css" rel="stylesheet" />
<script>
    function GoLink()
    {
        document.getElementById("filterForm").submit();
    }
    function handleCartClick() 
    {
        window.location.href = "http://localhost:5290/Guest/Login/";
    }
</script>
@section CartIcon
{
    <div class="cart-container" onclick="handleCartClick()">
        <img src="~/images/shopping-cart.png" class="cart-icon" alt="Cart" />
        <span class="cart-badge">0</span> @* ה"עיגול" הקטן שיושב על האייקון ומראה כמה מוצרים יש בעגלה *@
    </div>
}
<div class="MenuWrapper">
    <div class="page-layout">
        <aside class="filters">
            @{
                string link = "http://localhost:5290/Guest/Menu/";
                string query = "";

                if(Model.PriceSort != null)
                {
                    if (query == "")
                        query = "?priceSort"+Model.PriceSort;

                }

                if (Model.PageNumber > 0)
                {
                    if (query == "")
                        query += "?pageNumber" + Model.PageNumber;
                    else
                    {
                        query += "&pageNumber" + Model.PageNumber;
                    }
                }
                if(Model.FoodTypeId != "-1")
                {
                    if (query == "")
                        query += "?foodTypeId" + Model.FoodTypeId;
                    else
                    {
                        query += "&foodTypeId" + Model.FoodTypeId;
                    }
                }
                link = link + query;
            }
            <form action="@link" method="get" id="filterForm">
                <section class="search-section">
                    <input type="text" name="mealNameSearch" placeholder="Search" class="search-bar" value="@Model.MealNameSearch">
                </section>
                <h3>Food Type</h3>
                <select name="foodTypeId" id="foodType" onchange="GoLink()">
                    <option value="-1">All Food Type</option>
                    @foreach (FoodType foodType in Model.FoodTypes)
                    {
                        if (foodType.FoodTypeId == int.Parse(Model.FoodTypeId))
                        {
                            <option value="@foodType.FoodTypeId" selected>@foodType.FoodTypeName</option>
                        }
                        else
                        {
                            <option value="@foodType.FoodTypeId">@foodType.FoodTypeName</option>
                        }
                    }
                </select>
                <h3>Price</h3>
                <div class="price-sort">
                    <label>
                        <input type="radio" name="priceSort" value="false" onchange="GoLink()"
                               @(Model.PriceSort == false ? "checked" : "")>Low to High
                    </label><br>
                    <label>
                        <input type="radio" name="priceSort" value="true" onchange="GoLink()"
                               @(Model.PriceSort == true ? "checked" : "")>High to Low
                    </label>
                </div>
            </form>
        </aside>
        <!-- Menu items grid -->
        <section class="menu-items">
            @foreach (Meal meal in Model.Meals)
            {
                <div class="item">
                    <a href="http://localhost:5290/Guest/MealDetails/?id=@meal.MealId">
                        <img src="http://localhost:5035/DataImages/@meal.MealPhoto">
                        <p>@meal.MealName</p>
                        <p>$@meal.MealPrice</p>
                    </a>
                </div>
            }
        </section>
    </div>
    <section class="pagination">
        <a href="http://localhost:5290/Guest/Menu/?pageNumber=@(Model.PageNumber - 1)&priceSort=@Model.PriceSort"
           class="@(Model.PageNumber == 1 ? "disabled" : "")">Prev</a>
        @for(int i = 1; i <= Model.Pages; i++)
        {
            string url = "http://localhost:5290/Guest/Menu/?pageNumber="+i;
            if(Model.PriceSort != null)
            {
                url = url + "&priceSort=" + Model.PriceSort;
            }
            <a href="@url"
               class="@(Model.PageNumber == i ? "active" : "")">@i @* תנאי ? ערך_אם_אמת : ערך_אם_שקר *@
            </a>

        }
        <a href="http://localhost:5290/Guest/Menu/?pageNumber=@(Model.PageNumber + 1)&priceSort=@Model.PriceSort"
           class="@(Model.PageNumber == Model.Pages ? "disabled" : "")">Next</a>

    </section>
</div>


