@using Models;

@model MenuViewModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/menu.css" rel="stylesheet" />
<script>
    function GoLink(sort)
    {
        if (sort !== undefined) //אם נלחץ מיון מחיר
        {
            document.getElementById("sort").value = sort;
        }
        else {
            //אם שונה סוג האוכל- כברירת מחדל העמוד יהיה 1
            document.getElementById("pageNum").value = 1;
        }

        document.getElementById("filterForm").submit();
    }
    function resetFilters() 
    {
        document.getElementById("foodType").value = "-1";
        document.getElementById("sort").value = "";
        document.getElementById("pageNum").value = 1;
        // ביטול סימון רדיו
        document.querySelectorAll('input[type="radio"]').forEach(r => r.checked = false);

        document.getElementById("filterForm").submit();
    }
</script>
<div class="MenuWrapper">
    <div class="page-layout">
        <aside class="filters">       
            <form action="http://localhost:5290/Guest/Menu/" method="get" id="filterForm">
                <section class="search-section">
                    <input type="text" name="mealNameSearch" placeholder="Search" class="search-bar" value="@Model.MealNameSearch">
                </section>
                <h3>Food Type</h3>
                <select name="foodTypeId" id="foodType" onchange="GoLink()">
                    <option value="-1">All Food Type</option>
                    @foreach (FoodType foodType in Model.FoodTypes)
                    {
                        if (foodType.FoodTypeId == int.Parse(Model.FoodTypeId))
                        {
                            <option value="@foodType.FoodTypeId" selected>@foodType.FoodTypeName</option>
                        }
                        else
                        {
                            <option value="@foodType.FoodTypeId">@foodType.FoodTypeName</option>
                        }
                    }
                </select>
                <h3>Price</h3>
                <div class="price-sort">
                    <label>
                        <input type="radio" name="temp" value="false" onchange="GoLink(false)"
                               @(Model.PriceSort == false ? "checked" : "")>Low to High
                    </label><br>
                    <label>
                        <input type="radio" name="temp" value="true" onchange="GoLink(true)"
                               @(Model.PriceSort == true ? "checked" : "")>High to Low
                    </label>
                    <input type="hidden" name="priceSort" id="sort" value="@Model.PriceSort.ToString()" />
                    <input type="hidden" name="pageNumber" id="pageNum" value="@Model.PageNumber" />
                </div>
                <button type="button" class="clearbtn" onclick="resetFilters()">Clear Filters</button>
            </form>
        </aside>
        <!-- Menu items grid -->
        <section class="menu-items">
            @foreach (Meal meal in Model.Meals)
            {
                <div class="item">
                    <a href="http://localhost:5290/Guest/MealDetails/?id=@meal.MealId">
                        <img src="http://localhost:5035/DataImages/@meal.MealPhoto">
                        <p>@meal.MealName</p>
                        <p>$@meal.MealPrice</p>
                    </a>
                </div>
            }
        </section>
    </div>
    <section class="pagination">
       
        @if (Model.Pages >1)
        {
            <a href="http://localhost:5290/Guest/Menu/?pageNumber=@(Model.PageNumber - 1)&priceSort=@Model.PriceSort&foodTypeId=@Model.FoodTypeId"
               class="@(Model.PageNumber == 1 ? "disabled" : "")">Prev</a>
            @for (int i = 1; i <= Model.Pages; i++)
            {
                string url = "http://localhost:5290/Guest/Menu/?pageNumber=" + i;
                if (Model.PriceSort != null)
                {
                    url = url + "&priceSort=" + Model.PriceSort;
                }
                if (Model.FoodTypeId != "-1")
                {
                    url += "&foodTypeId=" + Model.FoodTypeId;
                }
                <a href="@url"
                   class="@(Model.PageNumber == i ? "active" : "")">
                    @i @* תנאי ? ערך_אם_אמת : ערך_אם_שקר *@
                </a>

            }
            <a href="http://localhost:5290/Guest/Menu/?pageNumber=@(Model.PageNumber + 1)&priceSort=@Model.PriceSort&foodTypeId=@Model.FoodTypeId"
               class="@(Model.PageNumber == Model.Pages ? "disabled" : "")">Next</a>
        }
    </section>
</div>


